<!-- <h1>Questions#ask</h1> -->
Ask your coach anything

<form action="/answer" method="get">
  <input type="text" name="question">

  <button type="submit" class="btn btn-primary mb-2">Ask!</button>
</form>
